#timeHolder{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

body{
    background: linear-gradient(pink, black 40%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#entry{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

h3{
    text-align:center;
    color: white;
}

input{
    width: 15px;
    height: 23px;
    font-size: 18px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid pink;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

input:placeholder{
    color: rbga(255, 255, 255, 0.8);
}
