#timeHolder{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#entry{
    display: flex;
    flex-wrap: wrap;
}

input{
    width: 15px;
    height: 18px;
    font-size: 18px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid gold;
    text-align: center;
}
