body{
    background-color: black;
    overflow: hidden;
}

h1{
    color: white;
    font-size: 38px;
}

.display{
    justify-content: center;
    display: flex;
    margin-inline: auto;
}

.visible{
    position: absolute;
    border-radius: 50%;
    background-color: white;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
}

a:hover{
    scale: 1.2;
}

a{
    color: transparent;
    text-align: center;
    animation: 3.5s linear 5s forwards running reveal;
}

@keyframes reveal{
from{opacity: 0%; color: red; box-shadow: 0px 0px 50px red}

to{opacity: 100%; color: gold;}
}

.typewriter{
    display: flex;
    z-index: -1;
}

.typewriter h1{
    font-family: monospace;
    overflow: hidden;

    white-space: nowrap; /*Confines the text onto a single ine*/
    border-right: 1px solid;

    animation: typing 5s steps(40) forwards,
    blink 1s step-end infinite;
}

@keyframes typing{
    from{
        width: 0%;
    }

    to{
        width: 100%;
    }
}

@keyframes blink{
    50%{
    border-color: transparent;
}}

#background{
    inset: 0;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
}

.bubble{
    --small: 80px;
    --medium: 120px;
    --large: 160px;


    z-index: -1;
    height: var(--small);
    width: var(--small);
    opacity: 0;

    position: absolute;

    border-radius: 50%;
    box-shadow: 0px 0px 15px gold;
}

.bubble:nth-child(2n+3){
    width: var(--medium);
    height: var(--medium);
}

.bubble:nth-child(5n){
    width: var(--large);
    height: var(--large);
}

@keyframes pop{

    0%{
        scale: 0%;
        opacity: 0;
    }
    90%{
        scale: 100%;
        opacity: 90%;
    }
    100%{
        opacity: 0;
    }

}